
.plans{
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 2.5vw;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        align-items: center;

        
        @media (max-width: 768px){
            display: block;
        }

        h1{
            padding-bottom: 16px;
        }

        .button{
            margin-top: 24px;
        }
        
        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media(max-width: 768px){
                padding-top: 20px;
            }

            img{
                height: 160px;
                width: 190px;
                border-radius: 5%;
            }
        }

        strong{
            display: block;
            margin-bottom: 1vw;
            margin-top: 24px;
        }
    }

    p {
        text-align: center;
        margin-bottom: 1vw;
        line-height: 24px;
    }
}

.plus{
    background-color: #ffb8b8;
    border-radius: 25%;
}

